<span class="radioClass">show : </span>

<input type="radio" name="options" value="All" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"All(" + all + ")"}}</span>

<input type="radio" name="options" value="Male" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"male(" + male + ")"}}</span>

<input type="radio" name="options" value="Female" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()"/>
<span class="radioClass">{{"female(" + female + ")"}}</span>